@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background-color: #e9efff;
	color: #000;
	font-family: 'Poppins', sans-serif;
	max-width: 1200px;
	margin: 0 auto;
	padding: 15px;
}

/*						header						*/

header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
}
h1{
	line-height: 35px;
	font-weight: 200;
}
nav #btn-menu, nav label{
	display: none;
}
li{
	display: inline-block;
	padding: 10px;
	margin: 10px;
	list-style: none;
}
a{
	color: #000;
	text-decoration: none;
}
a:hover{
	color: #4e5bb9;
	transition: 0.3s all;
}
.btn-login{
	border: 2px solid #4e5bb9;
	padding: 10px;
	border-radius: 15px;
}
.btn-login:hover{
	background-color: #4e5bb9;
	color: #000;
}

/*						main						*/

main{
	display: flex;
	flex-direction: row;
	margin-top: 50px;
}
.content{
	margin-top: 20px;
}
h2{
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
}
span{
	color: #4e5bb9;
}
p{
	line-height: 25px;
	max-width: 500px;
	font-weight: 300;
	margin: 20px 0 5px;
}
form{
	display: flex;
	flex-direction: column;
	width: 70%;
}
form [type="submit"]{
	height: 50px;
	width: 50%;
	background-color: #4e5bb9;
	color: #000;
	font-weight: 700;
	cursor: pointer;
}
form [type="submit"]:active{
	background-color: #272e66;
}
input{
	background-color: #bcccff;
	margin-top: 20px;
	padding: 15px;
	border-radius: 20px;
	font-size: 15px;
	border: none;
}
img{
	margin: auto;
}

/*						footer						*/

footer{
	margin: 20px 0 0 70%;
}
footer > a{
	color: #4e5bb9;
}